
.container1 {
    display: flex;
    flex-direction: column; /* Adjust to column layout for vertical centering */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 350px; /* Make the container full height of the viewport */
  }
  .card1 {
    border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-image: url('https://img.freepik.com/premium-photo/family-protection-insurance-concept-using-red-umbrella_707345-1013.jpg?size=626&ext=jpg&ga=GA1.2.801941692.1694189064&semt=ais');
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  cursor: pointer;
  width: 700px;
  
  }
  
  .card1:hover {
    transform: translateY(-5px);
  }
  
  .card-body1 {
    padding: 20px;
  }
  
  .card-title1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text1 h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color:black;
  }
  
  .card-text1 p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  /* Button styles */
  .btn-primary1 {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;

    transition: background-color 0.3s;
    margin-right: 20px;
  }
  
  .btn-primary1:hover {
    background-color: #0056b3;
  }
  .space-between-cards {
    margin-bottom: 80px; 
    justify-content: space-between;

  }
  
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .container1 {
      flex-direction: column;
      align-items: center;
    }
  
    .card1 {
      width: 100%;
    }
  }
  