/* RegistrationForm.css */
.container6 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #363434;
    border-radius: 5px;
    background-image: url('https://img.freepik.com/free-photo/soft-vintage-gradient-blur-background-with-pastel-colored-well-use-as-studio-room-product-presentation-banner_1258-71580.jpg?size=626&ext=jpg&ga=GA1.2.801941692.1694189064&semt=ais');
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0b0a0a;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #151414;
    border-radius: 3px;
    font-size: 16px;
}

select {
    height: 40px; /* Adjust the height as needed */
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
